################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/GraphQL.Linq/.vs
/GraphQL.Linq/GraphQL.Linq/bin/Debug/netcoreapp2.1
/GraphQL.Linq/GraphQL.Linq/obj
